    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    body {
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }

    .cover-container {
      max-width: 42em;
    }

    .masthead-nav .nav-link {
      padding: .25rem 0;
      font-weight: 700;
      color: rgba(255, 255, 255, .5);
      background-color: transparent;
      border-bottom: .25rem solid transparent;
    }

    .masthead-nav .nav-link:hover,
    .masthead-nav .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
    }

    .masthead-nav .active {
      color: #fff;
      border-bottom-color: #fff;
    }

    .cc {
      color: white;
    }

    .cc:hover {
      background-color: white;
      color: black;
    }

    #cl {
      background-color: white;
      color: black;
    }
    @media (min-width:768px) and (max-width:992px) {
      .margin_tc{
        margin-top: 350px !important;
      }
      .ftmtc{
        margin-top: 250px !important;
      }
      header{
        transform: scale(1.1);
      }
      .cfont{
        transform: scale(1.1);
      }
    }
