
input[type="text"],
    input[type="email"],
    input[type="tel"] {
      border: black 2px solid;
      border-radius: 10px;
    }
    #desc{
      border: 2px solid black;
      border-radius: 10px;
    }
    .to_home{
      position: relative;
       bottom:3px;
        margin-left: 15px;
    }
    #btncc{
      margin-left:900px !important;
      border: black 2px solid;
      border-radius: 3px;
      transition: transform 0.3s ease;
    }
    #btncc:active{
      transform: scale(0.7);
    }

    .container{
        max-width: 1000px;
        margin-top: 50px;
      }

      .returnhome{
        color: aliceblue ;
        text-decoration: none;
      }
      .returnhome:hover{
        color: aliceblue;
        text-decoration: none;
      }

      #sb{
        transition: transform 0.3s ease;
      }
      #sb:active{
        transform: scale(0.7);
      }
    

    @media (min-width:768px) and (max-width:992px){
      .container{
        max-width: 800px;
        margin-top:3px;
        margin-left: 70px;
        transform: scale(0.7);
      }
      .forms{
        margin-top: 333px;
      }.to_home{
        transform: scale(1.2);
        position: relative;
        left: 260px;
      }
      #btncc{
        transform: scale(1.5);
        position: relative;
        right: 195px;
        bottom: 40px;
      }
      h3{
        transform: scale(1.3);
        margin-left: 3px;
      }
      .forms{
        transform: scale(1.1);
      }
      .form-group{
        font-size:30px; 
      }
      .form-control{
        height: 50px;
        font-size: 35px;
      }
      #sb{
        transform: scale(1.33);
        position: relative;
        left: 11px;
      }
    }

    @media (max-width:768px) {
      .container{
        
      }
    }