<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0 maximum-scale=1.0">

  {% load static %}

  <title>{% block title %} About Page {% endblock %} </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'ecwapp/css/about.css' %}">


  {% block css %}
  <style>
    .bg-white::before {
      content: "Learn ";
      color: black;
    }

    .bg-white::after {
      content: "more";
      color: black;
    }
  </style>
  {% endblock %}

</head>

<body class="d-flex text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Welcome</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="cc nav-link active" href="/">Home</a>
          <a class="cc nav-link" href="/contect/">Contact</a>
          {% block goto %}
           <a class="cc nav-link" href="/img/">Features</a>
          {% endblock %}
        </nav>
      </div>
    </header>
    <br>
    <main class="px-3 margin_tc" style="margin-top: 100px;">
      {% block bodypart %}
      <h1 class="cfont">Here We Tell ABout Us </h1>
      <pre class="lead cfont">I am Student of Gurukul it Collage.
Now I am working on ecommerce web app project which 
will help you for shoping.This web app is my first 
project which I was shared with world
        </pre>
      <p class="lead cfont">
        <a href="https://getbootstrap.com/docs/5.3/examples/cover/" id="cl"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white"></a>
      </p>
      {% endblock %}
    </main>{% block empty %}
    <br><br>
    <footer class="ftmtc mt-auto text-white-50">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
          href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
  </div>
{% block end %} {% endblock %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>