<!DOCTYPE html>

<head>
  <title>
    contect us
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style>
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      border: black 2px solid;
      border-radius: 10px;
    }

    /* button[type="submit"] {
      color: #fff;
    } */
    #desc{
      border: 2px solid black;
      border-radius: 10px;
    }
  </style>
</head>

<body id="cbg" style="background-color: black; color: white;">
  <div class="container">
    <h3 style="display: inline-block;">Contact Us</h3>
    <button class="btn btn-danger" style="position: relative; bottom:3px; margin-left: 15px;">
      <a href="/" style="color: white;">Return to Home Page 🏠</a></button>
    <button id="btncc" style="margin-left: 942px;">Switch To Light Mode</button>
    <form action="/submit_contect_form/" method="POST" target="_self">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
      </div>
      <div class="form-group">
        <label for="name">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
      </div>
      <div class="form-group">
        <label for="name">Phone No.</label>
        <input type="tel" class="form-control" id="phone_no" name="phone_no" placeholder="Enter Your Phone Number">
      </div>
      <div class="form-group">
        <div class="form-group">
          <label for="desc">How May We Help You ?</label>
          <textarea class="form-control" id="desc" placeholder="discuss you query here"
            name="query" rows="3"></textarea>
        </div>

        <button type="submit" id="sb" class="btn btn-danger">Submit</button>

        <!-- <a style="color:antiquewhite" href="/return_from_contect/">Submit</a>
-->

        <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
        <script>
          let btncc = document.getElementById("btncc");
          let cbg = document.getElementById("cbg");
          function cb(vr) {
            let currunt_color = getComputedStyle(vr).color;
            let currunt_bgcolor = getComputedStyle(vr).backgroundColor
            if (currunt_color === "rgb(255, 255, 255)") {
              vr.style.color = "black";
              vr.style.backgroundColor = "white";
              document.getElementById('btncc').innerHTML = "Switch to Dark Mode"
            }
            else {
              vr.style.color = "white";
              vr.style.backgroundColor = "black";
              document.getElementById('btncc').innerHTML = "Switch to Light Mode"
            }
          }
          btncc.addEventListener("click", function () {
            cb(cbg);
          });
        </script>
</body>

</html>