<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order History</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'ecwapp/css/order-history.css' %}">
   
</head>
<body style="background-color: #000000;">
  <header id="user">
    Welcome, John Doe - Order History
  </header>

  <div class="container " style="background-color: white; color: #000000;" >
    <table>
      <thead>
        <tr>
          <th>Ordered Items</th>
          <th>Total Amount</th>
          <th>Phone No</th>
          <th>Address</th>
          <th>Payment Method</th>
        </tr>
      </thead>
      <tbody id="table_body">
            
      </tbody>
    </table>
  </div>
     <script src="{% static 'ecwapp/js/order-history.js' %}"></script>
</body>
</html>
