<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0 maximum-scale=1.0">

  <title>Pay with GPay</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'ecwapp\css\payment.css' %}">
</head>

<body>
  <div class="container">
    <div id="and">
    <h2>Scan and Pay</h2>
    <p>Amount: ₹{{ amount }}</p>
    <p>Transaction ID: {{ txn_id }}</p>
</div>

    <img src="data:image/png;base64,{{ qr_img }}" alt="Scan to Pay">
    <br><Br><br>
      <div id="or">
    <p>Or click this link: <a style="color: rgb(98, 255, 0);" href="{{ upi_url }}">Pay via UPI App</a></p>
</div>
  </div>
</body>

</html>