<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0 maximum-scale=1.0">

  <title>Pay with GPay</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'ecwapp\css\payment.css' %}">
</head>

<body>
  <div class="container">
    <div id="and">
    <h2>Scan and Pay</h2>
    <p>Amount: ₹{{ amount }}</p>
    <p>Transaction ID: {{ txn_id }}</p>
</div>

    <img src="data:image/png;base64,{{ qr_img }}" alt="Scan to Pay">
    <br><br>
      <div id="or">
    <p>Enter your Details to Verify:</p>
    <form action="/verify/" method="POST">
      {% csrf_token %}
      <br>
      <label for="text">Enter Transaction ID:-</label>
      <input type="text" name="trn_id" id="trn_id" required>
      <br>
      <label for="text">Enter Your txn Id:-</label>
        <input type="text" name="txn" id="txn" required>
      
      
      <br><br>
      <button type="submit" id="verify">
        Verify
      </button>
      <br><br><Br>
      </form>
</div>
  </div>
</body>

</html>